<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Your Assessments</title>
</head>
<body>
<h1>Your Assessments</h1>

<table>
  <thead>
  <tr>
    <th>Age</th>
    <th>Date</th>
    <th>Height</th>
    <th>Weight</th>
    <th>Notes</th>
    <th>Treatment Plan</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="assessment : ${assessments}">
    <td th:text="${assessment.age}"></td>
    <td th:text="${assessment.date}"></td>
    <td th:text="${assessment.height}"></td>
    <td th:text="${assessment.weight}"></td>
    <td th:text="${assessment.notes}"></td>
    <td th:text="${assessment.treatmentPlan}"></td>
  </tr>
  </tbody>
</table>

<a href="/patientHome">Back to Home</a>
</body>
</html>